/* General */
:root {
  --primary-color: #272a31;
  --secondary-color: #ec5242;
  --other-color: #d3d3d3;
  --primary-font: Lato, Arial, sans-serif;
  --secondary-font: "Work Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.container-two {
  width: 60%;
  margin: 0 auto;
}

.section-heading {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.section-heading:after {
  display: block;
  content: "";
  width: 35px;
  margin: 10px auto;
  border: 1px solid var(--secondary-color);
}

/* Page Wrapper */
.page-wrapper {
  max-width: 1351px;
  margin: 0 auto;
  box-shadow: 5px 0 5px rgb(223, 222, 222), -5px 0 5px rgb(223, 222, 222);
}

/* Header */
.header {
  background: var(--primary-color);
}

.hidden {
  position: absolute;
  left: -9999px;
}

.header > ul {
  display: flex;
  justify-content: flex-end;
  padding: 7px 0;
  color: #fff;
  font-size: 13px;
}

.header > ul li {
  margin-left: 14px;
}

.header > ul li:nth-of-type(2) {
  margin-left: 10px;
}

.header nav {
  position: relative;
  background: #fff;
  box-shadow: 0 5px 5px rgb(223, 222, 222);
  z-index: 5;
}

.header nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div > a {
  display: block;
  width: 210px;
  height: 60px;
  background: url("../images/smlogo.svg") no-repeat;
}

.menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 200px;
  height: 40px;
  font-size: 14px;
}

.menu li {
  flex: 1 auto;
}

.menu li:first-child,
.menu li:last-child {
  color: var(--secondary-color);
}

.menu li:last-child {
  border: 3px solid var(--secondary-color);
  height: 100%;
  line-height: 33px;
  text-align: center;
}

/* Intro */
.intro {
  min-height: calc(100vh - 90px);
  background: linear-gradient(to top, rgb(248, 246, 246) 60%, rgba(255, 255, 255, 0.8)), url("../images/sf.jpg");
  background-size: cover;
}

.intro div {
  padding: 90px 0;
}

.intro div > span {
  font-size: 40px;
  color: var(--secondary-color);
}

.intro h2 {
  padding-top: 10px;
  font: 60px/1 var(--secondary-font);
  background: url("../images/goldengate.jpg") repeat;
  background-size: contain;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p:first-of-type {
  display: inline-block;
  margin-bottom: 25px;
  border: 2px solid #fff;
  padding: 12px 10px;
  font-size: 13px;
  line-height: 1.5;
}

.intro p:last-child {
  line-height: 1.6;
}

.intro p span {
  font-size: 25px;
  font-weight: 900;
}

/* Schedule */
.schedule {
  background: url("../images/greypattern.jpg") no-repeat;
  background-size: cover;
  font-weight: 700;
  color: #fff;
}

.schedule div {
  padding: 40px 0 60px 0;
  text-align: center;
}

.schedule ul {
  display: flex;
  margin-bottom: 50px;
}

.schedule li {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 3px;
  padding: 15px 10px;
  height: 150px;
  background: rgba(211, 211, 211, .2);
}

.schedule li:last-child { margin-right: 0 }

.schedule li:nth-of-type(4) {
  border: 2px solid #fff;
}

.schedule .fas,
.schedule .far {
  font-size: 25px;
}

.schedule span:first-of-type {
  color: var(--secondary-color);
}

.schedule span:last-child {
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.schedule a {
  font-size: 13px;
  border-bottom: 1px solid #fff;
}

/* Speakers */
.speakers {
  padding: 40px 0 60px 0;
}

.speakers > div {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
}

.speakers article {
  display: flex;
}

.speakers img {
  display: block;
  flex: 0;
  width: 90px;
  height: 90px;
  border-width: 10px;
  border-image-slice: 147 0 0 186;
  border-image-width: 10px 20px 20px 10px;
  border-image-outset: 10px 0px 0px 10px;
  border-image-repeat: round round;
  border-image-source: url("https://previews.123rf.com/images/pavelav/pavelav1709/pavelav170900097/87041448-design-frame-with-the-modern-surroundings-with-a-border-of-the-chess-board.jpg");
  object-fit: cover;
}

.speakers article > div {
  padding-left: 15px;
}

.speakers h4 {
  font-weight: 700;
}

.speakers h4:after {
  display: block;
  content: "";
  width: 20px;
  margin: 8px 0;
  border: 1px solid var(--other-color);
}

.speakers span {
  font-size: 12px;
  color: var(--secondary-color);
}

.speakers p {
  font-size: 13px;
  line-height: 1.3;
}

.speakers button {
  display: none;
}

/* Partners */
.partners {
  background: var(--primary-color);
  color: var(--other-color);
}

.partners div {
  padding: 30px 0 30px 0;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners img {
  width: 150px;
  height: 50px;
}

.partners li:last-child img {
  height: 30px;
}

/* Footer */
.footer {
  font-size: 13px;
}

.footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.footer div > a {
  display: block;
  width: 210px;
  height: 60px;
  background: url("../images/smlogo.svg") no-repeat;
}

.footer div > div {
  padding-left: 40px;
}

.footer p {
  margin-top: 10px;
  line-height: 1.3;
}

.footer p a {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.footer p a:hover {
  background: var(--secondary-color);
  color: #fff;
}

.index-footer {
  background: #f8f6f6;
}

.about-footer {
  background: var(--primary-color);
  color: #fff;
}

/* Conf-Info About Page */
.conf-info {
  border-bottom: 1px solid var(--other-color);
  background: rgb(248, 246, 246);
  text-align: center;
}

.conf-info div {
  position: relative;
  padding: 75px 0;
}

.conf-info nav {
  position: absolute;
  right: -60px;
  top: 20px;
  font-size: 14px;
}

.conf-info ul {
  display: flex;
}

.conf-info li {
  margin-left: 5px;
}

.conf-info .fas {
  margin-left: 5px;
}

.conf-info .fa-chevron-right {
  color: var(--secondary-color);
}

.conf-info h2 {
  margin-bottom: 24px;
  font: 35px/1 var(--secondary-font);
  color: var(--secondary-color);
}

.conf-info h2:after {
  display: block;
  content: "";
  width: 20px;
  margin: 18px auto;
  border: 1px solid var(--secondary-color);
}

.conf-info p:first-of-type {
  margin-bottom: 35px;
  border: 2px solid var(--other-color);
  padding: 20px 50px;
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.conf-info p:last-child {
  font-size: 14px;
  line-height: 1.5;
}

.conf-info span {
  margin-right: 5px;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
}

/* Conf Logo */
.conf-logo {
  border-bottom: 1px solid var(--other-color);
  background: #fff;
  text-align: center;
}

.conf-logo div {
  padding: 35px 0 28px 0;
}

.conf-logo h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.conf-logo h3:after {
  display: block;
  content: "";
  width: 20px;
  margin: 15px auto;
  border: 1px solid var(--secondary-color);
}

.conf-logo p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4;
}

.conf-logo img {
  display: block;
  width: 350px;
  height: 150px;
  margin: 0 auto;
  border: 2px solid var(--other-color);
  object-fit: contain;
}

/* Past Events */
.past-events {
  padding: 35px 0 80px 0;
  text-align: center;
}

.past-events h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.past-events h3:after {
  display: block;
  content: "";
  width: 20px;
  margin: 15px auto;
  border: 1px solid var(--secondary-color);
}

.past-events p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.4;
}

.past-events div {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.past-events a {
  display: block;
  flex-basis: 49%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.past-events a:first-child {
  background: linear-gradient(to right, rgba(231,56,39,0.7) 0%, rgba(241,111,92,0.7) 100%), url("https://d33wubrfki0l68.cloudfront.net/0a19967db35a103e7d4b00103c45934baddb333e/54502/images/highlights/smashingconf-highlights-3.jpg") no-repeat;
  background-size: cover;
}

.past-events a:last-child {
  background: linear-gradient(to right, rgba(231,56,39,0.7) 0%, rgba(241,111,92,0.7) 100%), url("https://d33wubrfki0l68.cloudfront.net/306bf91e85073c46b02861771270726709ce4532/9c9aa/images/highlights/smashingconf-highlights-1.jpg") no-repeat;
  background-size: cover;
}

.past-events span:first-child {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 900;
}

.past-events span:last-child {
  font-size: 13px;
  font-weight: 700;
}
