/* General */
:root {
  --primary-color: #272a31;
  --secondary-color: #ec5242;
  --other-color: #d3d3d3;
  --primary-font: Lato, Arial, sans-serif;
  --secondary-font: "Work Sans", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Hidden Headers for SEO purposes */
.hidden {
  position: absolute;
  left: -9999px;
}

/* Container One */
.container {
  max-width: 1013px;
  margin: 0 auto;
}

/* Container Two */
.container-two {
  max-width: 810px;
  margin: 0 auto;
}

/* Index Heading Three */
.index-h-three {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.index-h-three::after {
  display: block;
  content: "";
  width: 35px;
  margin: 10px auto;
  border-top: 1px solid var(--secondary-color);
}

/* Side Menu */
.side-menu {
  position: absolute;
  right: 15px;
  bottom: -35px;
  display: flex;
  font-size: 14px;
}

.side-menu li {
  margin-left: 5px;
}

.side-menu .fas {
  margin-left: 5px;
}

.side-menu .fa-chevron-right {
  color: var(--secondary-color);
}

/* About Heading Three */
.about-h-three {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}

.about-h-three::after {
  display: block;
  content: "";
  width: 20px;
  margin: 15px auto;
  border-top: 1px solid var(--secondary-color);
}

/* Ticket Heading Three */
.ticket-h-three {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
}

.ticket-h-three::after {
  display: block;
  content: "";
  width: 20px;
  margin: 15px auto;
  border-top: 1px solid var(--secondary-color);
}

/* Ticket Steps */
.ticket-step {
  display: inline-block;
  margin-bottom: 32px;
  border: 1px solid var(--other-color);
  border-radius: 20px;
  padding: 13px 20px;
  font-size: 14px;
}

.ticket-step span {
  margin-right: 15px;
  font-weight: 700;
  color: var(--secondary-color);
}

.ticket-step span:first-child {
  margin-right: 5px;
}

/* Page Wrapper */
.page-wrapper {
  max-width: 1351px;
  margin: 0 auto;
  box-shadow: 5px 0 5px rgb(223, 222, 222), -5px 0 5px rgb(223, 222, 222);
}

/* Header */
.header {
  background: var(--primary-color);
}

.header > ul {
  display: flex;
  justify-content: flex-end;
  padding: 7px 0;
  color: #fff;
  font-size: 13px;
}

.header > ul li {
  margin-left: 14px;
}

.header > ul li:nth-of-type(2) {
  margin-left: 10px;
}

.header nav {
  position: relative;
  background: #fff;
  box-shadow: 0 5px 5px rgb(223, 222, 222);
  z-index: 5;
}

.header nav div {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.header div > a {
  display: block;
  width: 210px;
  height: 60px;
  background: url("../images/smlogo.svg") no-repeat;
}

.main-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 200px;
  height: 40px;
  font-size: 14px;
}

.main-menu li {
  flex: 1 auto;
}

.main-menu li:first-child,
.main-menu li:last-child {
  color: var(--secondary-color);
}

.main-menu li:last-child {
  border: 3px solid var(--secondary-color);
  height: 100%;
  line-height: 33px;
  text-align: center;
}

.main-menu li:last-child a {
  display: block;
  width: 100%;
}

/* Intro */
.intro {
  min-height: calc(100vh - 90px);
  background: linear-gradient(to top, rgb(248, 246, 246) 60%, rgba(255, 255, 255, 0.8)), url("../images/sfc.jpg");
  background-size: cover;
}

.intro div {
  padding: 90px 0;
}

.intro div > span {
  font-size: 40px;
  color: var(--secondary-color);
}

.intro h3 {
  padding-top: 10px;
  font: 900 60px/1 var(--secondary-font);
  background: url("../images/goldengatec.jpg") repeat;
  background-size: contain;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro p:first-of-type {
  display: inline-block;
  margin-bottom: 25px;
  border: 2px solid #fff;
  padding: 12px 10px;
  font-size: 13px;
  line-height: 1.5;
}

.intro p:last-child {
  line-height: 1.6;
}

.intro p span {
  font-size: 25px;
  font-weight: 900;
}

/* Schedule */
.schedule {
  background: url("../images/greypattern.jpg") no-repeat;
  background-size: cover;
  font-weight: 700;
  color: #fff;
}

.schedule div {
  padding: 40px 0 60px 0;
  text-align: center;
}

.schedule ul {
  display: flex;
  margin-bottom: 50px;
}

.schedule li {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 3px;
  padding: 15px 10px;
  height: 150px;
  background: rgba(211, 211, 211, 0.2);
}

.schedule li:last-child { margin-right: 0; }

.schedule li:nth-of-type(4) {
  border: 2px solid #fff;
}

.schedule .fas,
.schedule .far {
  font-size: 25px;
}

.schedule span:first-of-type {
  color: var(--secondary-color);
}

.schedule span:last-child {
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.schedule a {
  font-size: 13px;
  border-bottom: 1px solid #fff;
}

/* Speakers */
.speakers {
  padding: 40px 0 60px 0;
}

.speakers > div {
  display: grid;
  grid-column-gap: 25px;
  grid-row-gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(327px, 1fr));
}

.speakers article {
  display: flex;
}

.speakers img {
  display: block;
  flex: 0;
  width: 90px;
  height: 90px;
  border-width: 10px;
  border-image-slice: 147 0 0 186;
  border-image-width: 10px 20px 20px 10px;
  border-image-outset: 10px 0 0 10px;
  border-image-repeat: round round;
  border-image-source: url("https://previews.123rf.com/images/pavelav/pavelav1709/pavelav170900097/87041448-design-frame-with-the-modern-surroundings-with-a-border-of-the-chess-board.jpg");
  object-fit: cover;
}

.speakers article > div {
  padding-left: 15px;
}

.speakers h4 {
  font-weight: 700;
}

.speakers h4::after {
  display: block;
  content: "";
  width: 20px;
  margin: 8px 0;
  border: 1px solid var(--other-color);
}

.speakers span {
  font-size: 12px;
  color: var(--secondary-color);
}

.speakers p {
  font-size: 13px;
  line-height: 1.3;
}

.speakers button {
  display: none;
}

/* Partners */
.partners {
  background: var(--primary-color);
  color: var(--other-color);
}

.partners div {
  padding: 30px 0 30px 0;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.partners li {
  margin: 0 5px;
}

.partners li:last-child {
  margin-left: 15px;
}

.partners a {
  display: block;
}

.partners img {
  width: 100px;
  object-fit: cover;
}

/* Conf Info */
.conf-info {
  border-bottom: 1px solid var(--other-color);
  background: rgb(248, 246, 246);
  text-align: center;
}

.conf-info div {
  /* position: relative; */
  padding: 75px 0;
}

.conf-info h3 {
  margin-bottom: 24px;
  font: 900 35px/1 var(--secondary-font);
  color: var(--secondary-color);
}

.conf-info h3::after {
  display: block;
  content: "";
  width: 20px;
  margin: 18px auto;
  border: 1px solid var(--secondary-color);
}

.conf-info p:first-of-type {
  margin-bottom: 35px;
  border: 2px solid var(--other-color);
  padding: 20px 50px;
  background: #fff;
  font-size: 14px;
  line-height: 1.5;
}

.conf-info p:last-child {
  font-size: 14px;
  line-height: 1.5;
}

.conf-info span {
  margin-right: 5px;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
}

/* Conf Logo */
.conf-logo {
  border-bottom: 1px solid var(--other-color);
  background: #fff;
  text-align: center;
}

.conf-logo div {
  padding: 35px 0 28px 0;
}

.conf-logo p {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4;
}

.conf-logo img {
  display: block;
  width: 350px;
  height: 150px;
  margin: 0 auto;
  border: 2px solid var(--other-color);
  object-fit: contain;
}

/* Past Events */
.past-events {
  padding: 35px 0 80px 0;
  text-align: center;
}

.past-events p {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.4;
}

.past-events div {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.past-events a {
  display: flex;
  flex-basis: 49%;
  height: 200px;
  flex-direction: column;
  justify-content: center;
}

.past-events a:first-child {
  background: linear-gradient(to right, rgba(231, 56, 39, 0.7) 0%, rgba(241, 111, 92, 0.7) 100%), url("https://d33wubrfki0l68.cloudfront.net/0a19967db35a103e7d4b00103c45934baddb333e/54502/images/highlights/smashingconf-highlights-3.jpg") no-repeat;
  background-size: cover;
}

.past-events a:last-child {
  background: linear-gradient(to right, rgba(231, 56, 39, 0.7) 0%, rgba(241, 111, 92, 0.7) 100%), url("https://d33wubrfki0l68.cloudfront.net/306bf91e85073c46b02861771270726709ce4532/9c9aa/images/highlights/smashingconf-highlights-1.jpg") no-repeat;
  background-size: cover;
}

.past-events span:first-child {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 23px;
  font-weight: 900;
}

.past-events span:last-child {
  font-size: 13px;
  font-weight: 700;
}

/* Form */
form {
  padding-bottom: 50px;
  text-align: center;
}

/* Pricing */
.pricing {
  background: rgb(248, 246, 246);
  text-align: center;
}

.pricing div {
  /* position: relative; */
  padding: 65px 0;
}

.pricing table {
  margin: 0 auto;
  border: 6px solid var(--secondary-color);
  font-size: 14px;
}

.pricing thead {
  background: rgb(248, 246, 246);
}

.pricing tbody {
  background: #fff;
}

.pricing th,
.pricing td {
  border: 1px solid var(--other-color);
  padding: 15px 20px;
}

.pricing tbody th {
  vertical-align: middle;
}

.pricing tr:nth-of-type(2) td,
.pricing tr:nth-of-type(3) td {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--secondary-color);
}

/* Meal */
.meal {
  position: relative;
  margin-bottom: 50px;
  padding-top: 55px;
  text-align: center;
}

.meal .fas {
  position: absolute;
}

.fa-square-full {
  top: -16px;
  left: 48%;
  transform: rotate(45deg);
  color: var(--secondary-color);
}

.fa-chevron-down {
  top: -5px;
  left: 49.25%;
  color: #fff;
}

.meal .ticket-step {
  margin-bottom: 50px;
}

.meal-menu {
  margin: 0 auto 17px auto;
  border: 1px solid var(--other-color);
  font-size: 14px;
}

.meal table:last-child {
  margin-bottom: 0;
}

.meal-menu thead {
  background: rgb(248, 246, 246);
}

.meal-menu thead td {
  padding: 9px 0;
}

.meal-menu tbody td {
  padding: 25px 18px;
  vertical-align: middle;
}

.meal-menu tbody td:first-child {
  padding-left: 70px;
}

.meal-menu tbody td:last-child {
  padding-right: 70px;
}

/* Form Submit Button */
.meal + button {
  border: none;
  padding: 12px 35px;
  background: var(--secondary-color);
  font-weight: 700;
  color: #fff;
}

/* Footer */
.footer {
  font-size: 13px;
}

.footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.footer div > a {
  display: block;
  width: 210px;
  height: 60px;
  background: url("../images/smlogo.svg") no-repeat;
}

.footer div > div {
  padding-left: 40px;
}

.footer p {
  margin-top: 10px;
  line-height: 1.3;
}

.footer p a {
  border-bottom: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.footer p a:hover {
  background: var(--secondary-color);
  color: #fff;
}

.index-footer {
  background: #f8f6f6;
}

.other-footer {
  background: var(--primary-color);
  color: #fff;
}
